<aside class="dashboard-menu">
  <ul>

    <li><%= link_to 'Home', dashboard_path %></li>
    <li class="menu-title">Post</li>
    <li><%= link_to 'Create New', new_post_path %></li>
    <li><%= link_to 'List All', posts_path %></li>

    <li class="menu-title">Categories</li>
    <li><%= link_to 'Create New', new_category_path %></li>
    <li><%= link_to 'List All', categories_path %></li>

    <li class="menu-title">Tags</li>
    <li><a href="#">Create New</a></li>
    <li><%= link_to 'List All', dashboard_tags_path %></li>

    <li class="menu-title">Contact Us</li>
    <li><%= link_to 'List Messages', inquiries_path %></li>

  </ul>
</aside>
