<%= render 'display/post_partials/1_article_header' %>

<%= render 'display/post_partials/2_hero_image' %>

<%= render 'display/post_partials/3_social_sharing_links' %>

<%= render 'display/post_partials/4_content' %>

<%= render 'display/post_partials/5_next_article' %>

<%= render 'display/post_partials/6_subscribe_box' %>

<%= render 'display/post_partials/7_about_author' %>

<%= render 'display/post_partials/8_commenting_section' %>

<%= render 'display/post_partials/9_related_posts' %>

<%= render 'display/post_partials/10_bottom_tags' %>

<!-- ~~~~~~~~~~~~~~~ POST CONTENT ~~~~~~~~~~~~~~~ -->
<!-- <div class="three-col-grid"> -->

  <!-- ~~~~~~~~~~~~~~~ COL 1 ~~~~~~~~~~~~~~~ -->
  <!-- <div class="empty"></div> -->

  <!-- ~~~~~~~~~~~~~~~ COL 2 ~~~~~~~~~~~~~~~ -->









  <div class="post-show">

    <div class="outer-post-wrapper">



  <!-- ~~~~~~~~~~~~~~~ SUBSCRIBE BOX ~~~~~~~~~~~~~~~ -->


<!-- ~~~~~~~~~~~~~~~ ABOUT AUTHOR ~~~~~~~~~~~~~~~ -->


<!-- ~~~~~~~~~~~~~~~ DISCUS COMMENTING SECTION ~~~~~~~~~~~~~~~ -->


<!-- ~~~~~~~~~~~~~~~ RELATED POSTS ~~~~~~~~~~~~~~~ -->


<!-- ~~~~~~~~~~~~~~~ TAGS ~~~~~~~~~~~~~~~ -->


</div>

</div>



<!-- ~~~~~~~~~~~~~~~ COL 3 ~~~~~~~~~~~~~~~ -->
<!-- <div class="empty"></div> -->

<!-- </div> -->
