<h2 class="tags-title">Log In</h2>

<div class="login-bg">

<div class="container">
<div class="login">

    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email_address %>
        <%= f.email_field :email_address %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit 'Log in' %>
    <% end %>
  </div>
  </div>

</div>
