
<!-- Posts -->
<section id="card-container">

<div id="card-wrapper">

<% iteration.each do |post| %>

<%= link_to completed_display_post_path(post), class: 'article-link card three-col', data: {created_at: post.created_at.strftime('%Y%m%d'), category: post.category.name, title: post.title, view_count: post.page_count} do %>

<article>



<div class="card-image-wrapper">


  <div class="card-image" style="background-image: url(<%= rails_representation_url post.main_image.variant(resize: "832x590") %>)">
  </div>
  </div>

  <div class="card-contents">

    <h4 class="card-title"><%= post.title.titleize %></h4>
    <p class="card-summary"><%= post.summary %></p>


  </div>




</article>

<h6 class="card-tag impact"><%= post.category.name %></h6>
<% end %>

<% end %>

</div>
</section>
