<div class="top-featured">
  
  <div class="row">
    <div class="col-6">

      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'cat.jpg' %>)">
      </div>
      <% end %>

    </div>
    <div class="col-6">
      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'sample_hero.jpg' %>)">
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'about_me.jpg' %>)">
      </div>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'master_favicon.jpg' %>)">
      </div>
      <% end %>
    </div>
  </div>



</div>
