<div class="col-4 welcome-initial-sidebar">
  <div class="popular-posts">
    <ul>
      <% Post.last(5).each do |post| %>
        <li><%= link_to post.title, display_post_path(post) %></li>
        <li>900 views</li>
      <% end %>
        <li><%= link_to 'View More', display_category_path(category), class: 'view-more-link' %></li>
    </ul>
  </div>

  <div class="subscribe-sidebar">
    <div class="inner-subscribe-sidebar">

      <h4><%= subscription_message %></h4>
      <%= render 'shared/subscribe_form' %>
      <h6 class="terms-disclaimer">By clicking subscribe you are agreeing to our <%= link_to 'terms', terms_path %></h6>

    </div>
  </div>

</div>
