<h2 class="welcome-title welcome-title-<%= side %>">
  <%= link_to category.name, display_category_path(category) %>
</h2>



<div class="row">

  <% if side == "left" %>
    <%= render 'subscribe_sidebar', category: category, subscription_message: subscription_message  %>
  <% end %>

  <!-- left col featured images -->
  <div class="col-4">
    <div class="image-height-wrapper">
      <% Post.last(2).each do |post| %>
        <%= link_to display_post_path(post) do %>
          <div class="image-half-height" style="background-image: url(<%= rails_representation_url post.main_image.variant(resize: "720x720") %>)">
            <h4><%= post.title %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- right col featured images -->
  <div class="col-4">
    <div class="image-height-wrapper">
      <% Post.first(10).last(2).each do |post| %>
        <%= link_to display_post_path(post) do %>
          <div class="image-half-height" style="background-image: url(<%= rails_representation_url post.main_image.variant(resize: "720x720") %>)">
            <h4><%= post.title %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if side == "right" %>
    <%= render 'subscribe_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

</div>

<%= render 'small_post_image_layout', iteration: Post.last(4) %>
