<h2 class="welcome-title welcome-title-left">
  <%= link_to category.name, display_category_path(category) %>
</h2>


<div class="row">

  <div class="col-4 welcome-initial-sidebar">

    <div class="popular-posts">

      <ul>
        <% Post.last(5).each do |post| %>
          <li><%= link_to post.title, display_post_path(post) %></li>
          <li>900 views</li>
        <% end %>
        <li><%= link_to 'View More', display_category_path(category), class: 'view-more-link' %></li>
      </ul>

    </div>

    <div class="subscribe-sidebar">

      <!-- <h4>become notified of future emails</h4> -->

      <div class="inner-subscribe-sidebar">
        <%= render 'shared/subscribe_form' %>
      </div>



    </div>

  </div>

  <div class="col-4">

    <div class="image-height-wrapper">

      <% Post.last(2).each do |post| %>
        <%= link_to display_post_path(post) do %>

          <div class="image-half-height" style="background-image: url(<%= rails_representation_url post.main_image.variant(resize: "720x720") %>)">
            <h4><%= post.title %></h4>
          </div>

          
        <% end %>
      <% end %>

    </div>

  </div>

  <div class="col-4">

    <div class="image-height-wrapper">

      <% Post.first(2).each do |post| %>
        <%= link_to display_post_path(post) do %>
          <div class="image-half-height" style="background-image: url(<%= rails_representation_url post.main_image.variant(resize: "720x720") %>)">
            <h4><%= post.title %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'shared/text_only_card_list_layout', iteration: Post.last(4) %>
