<%= render 'welcome_title', category: category, side: side %>

<!-- First Row -->
<div class="row" id="top-welcome-row-for-height">

  <% if side == "left" %>
    <%= render 'top_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

  <!-- left col featured images -->
  <%= render 'single_welcome_card', post: Post.last %>

  <!-- right col featured images -->
  <%= render 'single_welcome_card', post: Post.first %>

  <% if side == "right" %>
    <%= render 'top_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

</div>




<!-- Second Row -->
<div class="row welcome-card-row">

  <% if side == "left" %>
    <%= render 'bottom_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

  <%= render 'single_welcome_card', post: Post.last(10).first %>

  <%= render 'single_welcome_card', post: Post.first(10).last %>

  <% if side == "right" %>
    <%= render 'bottom_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

</div>










<%= render 'small_post_image_layout', iteration: Post.last(4) %>
