<%= render 'welcome_title', category: category, side: side %>

<!-- First Row -->
<div class="row" id="top-welcome-row-for-height">

  <% if side == "left" %>
    <%= render 'top_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

  <!-- left col featured images -->
  <%= render 'single_welcome_card', post: category.posts.last %>  <!-- category.posts.last -->

  <!-- right col featured images -->
  <%= render 'single_welcome_card', post: category.posts.first %>

  <% if side == "right" %>
    <%= render 'top_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

</div>




<!-- Second Row -->
<div class="row welcome-card-row">

  <% if side == "left" %>
    <%= render 'bottom_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

  <%= render 'single_welcome_card', post: category.posts.last(3).first %>

  <%= render 'single_welcome_card', post: category.posts.first(3).last %>

  <% if side == "right" %>
    <%= render 'bottom_sidebar', category: category, subscription_message: subscription_message %>
  <% end %>

</div>

<%= render 'small_post_image_layout', iteration: category.posts.last(6).first(4) %>
