

<section class="welcome-page-full-hero">

  <div class="hero-text">
      <!-- <h1 class="impact">ProveYourWealth</h1> -->
  </div>

</section>





<div class="row">
  <div class="col-8">
    <%#= image_tag 'cat.jpg', class: 'test_featured_image' %>
        <%#= image_tag 'sample_hero.jpg', class: 'test_featured_image' %>
      <div class="image-height-wrapper">
        <div class="image-half-height" style="background-image: url(<%= asset_url 'cat.jpg' %>)"></div>
        <div class="image-half-height" style="background-image: url(<%= asset_url 'sample_hero.jpg' %>)"></div>

      </div>
  </div>

  <div class="col-4 blue-background">
    <div class="popular-posts">
      <h2>Popular</h2>
      <ul>
        <% Post.last(10).each do |post| %>
        <li><%= link_to post.title, display_post_path(post) %></li>
        <li>900 views</li>
        <% end %>
      </ul>

    </div>

    <!-- Subscribe form???? -->

    <!-- <div class="subscribe-form"> -->
    <div class="subscribe-sidebar">
      <h4>Subscribe</h4>
      <%= render 'shared/subscribe_form' %>
    </div>

    <!-- </div> -->


  </div>

</div>






<h2 class="welcome-title">New Posts</h2>
<%#= render 'shared/two_column_card_layout', iteration: Post.first(2)  %>
<%= render 'shared/card_list_layout', iteration: Post.last(6)  %>
<%= render 'shared/text_only_card_list_layout', iteration: Post.last(6)  %>

<h2 class="welcome-title">Recommended Posts</h2>
<%#= render 'shared/two_column_card_layout', iteration: Post.first(2)  %>
<%= render 'shared/card_list_layout', iteration: Post.last(6)  %>
<%= render 'shared/text_only_card_list_layout', iteration: Post.last(6)  %>


<div class="grid-container no-collapse">
  <% 6.times do %>
  <div class="three-col"><%= image_tag (asset_url 'about_me.jpg'), class: 'author-authors' %></div>
  <% end %>
</div>



<div class="welcome-subscribe-box-container">
  <div class="welcome-subscribe-box">
    <div class="welcome-subscribe-text">

      <p>Subscribe... <span>before it's too late!</span></p>
    </div>

    <div class="welcome-subscribe-form">
      <%= render 'shared/subscribe_form' %>
  </div>
  </div>
</div>
