<div class="top-featured">
  <div class="row">
    <div class="col-6">

      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'cat.jpg' %>)">
      </div>
      <% end %>

    </div>
    <div class="col-6">
      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'sample_hero.jpg' %>)">
        <!-- <h3 class="left-hero-text">Other Article</h3> -->
      </div>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'about_me.jpg' %>)">
        <!-- <h3 class="left-hero-text">Other Article</h3> -->
      </div>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to '#' do %>
      <div class="welcome-featured-image" style="background-image: url(<%= asset_url 'master_favicon.jpg' %>)">
        <!-- <h3 class="left-hero-text">Other Article</h3> -->
      </div>
      <% end %>
    </div>
  </div>



</div>





<% Category.main_categories.each_with_index do |category, index| %>
  <% if index % 2 == 0 %>
    <%= render 'welcome_card_layout_1', category: category %>
  <% else %>
    <%= render 'welcome_card_layout_2', category: category %>
  <% end %>
<% end %>
