
<section class="welcome-page-full-hero">

  <div class="hero-text">
      <h1 class="impact">ProveYourWealth</h1>
  </div>

</section>

<%= render 'shared/two_column_card_layout', iteration: Post.first(2)  %>
<%= render 'shared/card_list_layout', iteration: Post.last(6)  %>


<%= render 'shared/two_column_card_layout', iteration: Post.first(2)  %>
<%= render 'shared/card_list_layout', iteration: Post.last(6)  %>


<div class="welcome-subscribe-box-container">
  <div class="welcome-subscribe-box">
    <div class="welcome-subscribe-text">

      <p>Subscribe... <span>before it's too late!</span></p>
    </div>

    <div class="welcome-subscribe-form">
      <%= render 'shared/subscribe_form' %>
  </div>
  </div>
</div>
