<header class="header no-highlight impact" id="nav-bar-menu">

  <a class="expand-menu-button" href="javascript:void(0)" id="nav-opener">&#9776;</a>

  <div class="overlay" id="overlay-menu">

    <a href="javascript:void(0)" class="collapse-menu-button" id="nav-closer">&times;</a>

    <div class="overlay-content">

      <ul>

          <li><%= link_to 'Home', root_url %></li>

        <% Category.order(:id).each_with_index do |cat, index| %>
            <li><%= link_to cat.name, display_category_path(cat), class: 'mega-menu-dropdown', data: { dropdown_selector: index }, id: "drop-down-#{index}" %></li>
        <% end %>

        <li><%= link_to 'Store', '#' %></li>

      </ul>
    </div>
    <!-- ./overlay-content -->

  </div>
  <!-- ./overlay -->
</header>


  <% Category.order(:id).each_with_index do |cat, index| %>
  <div class="mega-menu" id="mega-menu-<%= index %>" data-mega-menu-id="<%= index %>">
    <div class="mega-menu-header">
      <h3><%= cat.name %></h3>
    </div>
    <div class="mega-menu-content">
      <% 12.times do %>
      <a href="#">Blah</a>
      <% end %>
    </div>
  </div>
  <% end %>


<div class="spacer"></div>

<%# if controller.controller_name == 'display' && (controller.action_name == 'category' || controller.action_name == 'tags') %>
<!-- <div class="tag-sub-header"> -->

<%# ActsAsTaggableOn::Tag.all.each do |tag| %>
        <%# if request.path.split('/').last == tag.name %>
          <%#= link_to tag.name, tag_path(tag.name), class: 'active' %>
        <%# else %>
          <%#= link_to tag.name, tag_path(tag.name) %>
        <%# end %>
  <%# end %>
<!-- </div> -->
<%# end %>
